<!DOCTYPE html>
<html>

<head>
    <title>Add Destination</title>
</head>

<body>

<h1>Add Dream Destination</h1>

<form method="POST">

<label>Destination</label><br>
<input type="text" name="destination"><br><br>

<label>Country</label><br>
<input type="text" name="country"><br><br>

<label>Budget</label><br>
<input type="number" name="budget"><br><br>

<label>Priority</label><br>

<select name="priority">
<option>High</option>
<option>Medium</option>
<option>Low</option>
</select>

<br><br>

<label>Status</label><br>

<select name="status">
<option>Wishlist</option>
<option>Planned</option>
<option>Visited</option>
</select>

<br><br>

<button type="submit">

Add Destination

</button>

</form>

<br>

<a href="/">Back</a>

</body>

</html>